
.fondoContacto {
    background-image: url(../img/fondoCon.jpg);
    background-size:cover;
    
.formulario {
    max-width: 30rem;
    margin: 2rem auto;
    display:flex;
    justify-content: center;
    background:$fondo-body;
    padding: 2rem 2rem;
    display: block;
    align-content: center;
    
.text {
    resize: none;
}
}
}