.fondoBodyIndex {
    background-color:$fondo-body;
    background-image:url("../img/BeerHome.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.tituloPortada {
    margin-top: 4rem;
    margin-bottom: 50%;
    margin-right: 45%;
    margin-left: 5%;
    color: #D6B409;

p {
    font-size: 50px;
    font-family: 'Gluten', cursive;
    letter-spacing: 3px; 
}
}