.fondoBodyIndex {
    background-color: rgb(29, 34, 34);
    background-image:url("../img/galeria509x338.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}

.tituloPortada {
    margin-top: 5%;
    margin-bottom: 50%;
    margin-right: 45%;
    margin-left: 5%;
    color: #D6B409;

p {
    font-size: 50px;
    font-family: 'Gluten', cursive;
    letter-spacing: 3px; 
}
}